@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

.container{
    display: grid;
font-family: 'AR One Sans', sans-serif;
grid-template-areas: 
"header header header ";
}
.header{
display: grid;
grid-area: header;
grid-template-columns:repeat(3,650px) ;
align-items: center;
justify-content: space-evenly;
font-size: 25px;
background-color: #8a8af2;
color: white;
padding: 5px;
}
.logo>img{
height: 100px;
width: 100px;
}
.hbac{
   display: grid;
   grid-template-columns: repeat(4,100px);
   grid-column-gap: 10px;
   justify-content: center;
}
.login{
display: grid; 
justify-items: end;
    }
button{
text-decoration: none;
font-size: 25px;
padding: 15px 80px 15px 80px;
background-color: #000000;
color: #ffffff;
border: none;
border-radius: 5px;
}
@media screen and (max-width:920px) {
    .header{
        width: 800px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
     }
    .hbac,.login{
        display: none;
    }
    .menu-icon > img{
        display: grid;
        margin-left: 300px;
        width: 70px;
        height: 70px;
    }
    
}